#os
**/.DS_Store
Thumbs.db

#IDE
.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace
.nvim
.nvim.lua

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# local configuration
.envrc
.env.*
/.env
.husky/_

#tmp
tmp/
*.log
*.cache

#node
npm-debug.log*
node_modules/
dist/
databases/
http_request_archive/
application/**/package-lock.json
core/**/package-lock.json
infrastructure/**/package-lock.json
job/**/package-lock.json
lib/**/package-lock.json
proto/**/package-lock.json
resource/**/package-lock.json
server/**/package-lock.json
service/**/package-lock.json
ui/**/package-lock.json
/log/

#typescript
/out-tsc
/typings

# profiling files
chrome-profiler-events*.json

#client
client/sap-client
client/sap-client-cod

#report(s)
report/
coverage/
.c8_output/
.stryker-tmp/

#IDE
!.run/**

#xmake
.xmake/
gen/
import/

# sonar
.scannerwork
.oracle_jre_usage
sonar.*.properties

#whitesource
**/whitesource/
**/wss-unified-agent.config*
**/whitesource.ua.config*
**/ws-ls.txt
**/ws-lsJson.json
**/whitesource*.json
**/whitesource*.pdf
**/wss-unified-agent.jar

#certificates
**/postgres_ca

# Piper
.pipeline/
toolruns/
piper
sap-piper
**/sap*_errorDetails.json

# n
**/dependencyTree.json
deployment.json
uiDeployment.json
provisioning.lock.json

# Checkmarx
CxSAST*
checkmarx/
checkmarxExecuteScan*

# Protecode
./cache/
protecode*
!infrastructure/sap-n-elsa-util/**/protecode*
!infrastructure/elsa/util/elsa-util/**/protecode*
!infrastructure/elsa/cli/elsa-cli/**/protecode*
!infrastructure/sap-n-elsa-cli/**/protecode*

# generated lifecycle files
provision.lock.json
provision.metadata.json

# PPMS Compliance
piper_whitesource_ppms_report.html
sapCheckPPMSCompliance_*.json

# Bazel
/bazel-out
bazel-*/
bazel-*

# ESLint
.eslintcache

# Local scratch
.scratch

**/favicon.ico
.angular
.sass-cache
.staging
testem.log
/test-results/
/playwright-report/
/playwright/.cache/

# nx
.nx/
migrations.json
.nx/cache
/**/http-client.private.env.json
